<div class="vh-100 d-flex justify-content-center align-items-center">
    <div class="text-center">
        <h1 class="display-1 text-danger">403</h1>
        <h2>Access Denied</h2>
        <p>You Are not Allowed to Perform this Action.</p>
        <a asp-controller="Blog" asp-action="Index" class="btn btn-outline-primary">Go Back</a>
    </div>
</div>