@model EditViewModel

@{
    ViewData["Title"] = "Edit Post";
}


<style>
    .content-wrapper {
        padding: 20px;
        max-width: 1000px;
        margin: 0 auto;
        font-family: sans-serif
    }
</style>


<div class="content-wrapper">
    <div class="row">
        <div class="col-6">
            <h2>@ViewData["Title"]</h2>
        </div>

        <div class="col-6 text-end">
            <a class="btn btn-primary" asp-action="Index" asp-controller="Blog">Back to List</a>
        </div>
    </div>

    <hr />

    <form asp-action="Update" asp-controller="Blog" method="post" enctype="multipart/form-data">
        <div class="validation-summary">
            <div asp-validation-summary="All" class="text-danger"></div>
        </div>

        <input asp-for="Posts.Id" hidden />
        <div class="form-group">
            <label asp-for="Posts.Title"></label>
            <input asp-for="Posts.Title" class="form-control" />
            <span asp-validation-for="Posts.Title" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Posts.CategoryId"></label>
            <select asp-for="Posts.CategoryId" asp-items="Model.Categories" class="form-control">
                <option value="">Select Category</option>
            </select>
            <span asp-validation-for="Posts.CategoryId"></span>
        </div>

        <div class="form-group">
            <label asp-for="Posts.Author"></label>
            <input asp-for="Posts.Author" class="form-control" />
            <span asp-validation-for="Posts.Author" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Posts.Content"></label>
            <textarea asp-for="Posts.Content" class="form-control" rows="5"> </textarea>
            <span asp-validation-for="Posts.Author" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="FeatureImage"></label>
            <input asp-for="FeatureImage" class="form-control" />
        </div>

        <button type="submit" class="btn btn-primary mt-1">Update</button>
        <a asp-action="Index" asp-controller="Blog" class="btn btn-secondary mt-1">Back</a>
    </form>
</div>

@section Scripts {
    <script src="https://cdn.tiny.cloud/1/8v7ap9no879e3vf48t9bipzno7dfbo8dgefvm9kgcttuz3nu/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>

    <script>
           tinymce.init({
          selector: 'textarea'
        });
    </script>
}